{% extends 'herbworldapp/basic.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{%block css%}


.homemodule__img {
width: 400px;
height: 400px;
}

.homemodule__heading{
padding-top: 100px;
font-weight: 800;
font-size: 4vw;
}

{% endblock %}

{% block body %}

<div class="container">

  <div class="row homemodule">
    <div class="col col-md-8 col-12">
      <div class="row">
        <div class="col">
          <h1 data-aos="fade-right" class="homemodule__heading"> <span id="counter">500</span>+ <span
              style="color: #216B39;">Nurseries</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p data-aos="fade-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae iusto omnis eaque
            consectetur magni?
            Ullam laborum vitae soluta, autem aliquid sed similique quod officiis hic.</p>
        </div>
      </div>
    </div>
    <div class="col col-md-4">
      <img data-aos="fade-left" class="homemodule__img" src="{% static '/images/HerbWorld.png' %}">
    </div>
  </div>



  <div class="row homemodule">
    <div class="col col-md-4">
      <img data-aos="fade-left" class="homemodule__img" src="{% static '/images/HerbWorld.png' %}">
    </div>
    <div class="col col-md-8 col-12">
      <div class="row">
        <div class="col">
          <h1 data-aos="fade-right" class="homemodule__heading">10000+ <span style="color: #216B39;">Plants</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p data-aos="fade-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae iusto omnis eaque
            consectetur magni?
            Ullam laborum vitae soluta, autem aliquid sed similique quod officiis hic.</p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block js %}
var interval = setInterval(function() {
        $('#counter').text(number);
        if (number >= 5000) clearInterval(interval);
        number++;
    }, 30);



{% endblock %}