{% extends 'herbworldapp/basic.html' %}
{% load static %}
{% block title %}
Signup
{% endblock %}

{%block css%}

.cardbutton {
    background-color: rgba(33,107,57);
    cursor: pointer;
    transition: 0.4s;
    color: white;
  }

  .cardbutton:hover {
    background-color: rgba(33,107,57);
    border: 3px solid #FFFFFF;
    transform: scale(0.9, 0.9);
    color: white;
    border-radius: 25px;
  }

  .loginheading{
    font-weight: 400;
    font-size: 4vw;
  }
  .loginheading1{
    color: #216B39;
    font-weight: 800;
    text-decoration: none;
  }
  .loginheading2{
    color: #000000;
    font-weight: 800;
    text-decoration: none;
  }

  .loginbody{
    display: flex;
    justify-content: space-between;
  }
  .logoimage{
    max-width: 300px;
    max-height: 300px;
  }
  .loginbuttons{
    display: flex;
    justify-content: space-between;
  }
{% endblock %}

{% block body %}


  <div class = "text-center">
    <h1 class = "loginheading pt-3 pb-3"><span class = "loginheading1">Herb</span><span class = "loginheading2">World</span> Login</h1>
  </div>
<div class = "loginbody container">
  <div class="customer">
    <div class = "row">
      <div class = "col col-12  text-center">
        <h1 class="display-4 text-center">Customer</h1>
      </div>
    </div>
    <br>
    <br>
    <div class = "row">
      <div class = "col col-12  text-center">
        <img src="{% static '/images/customerlogo.png' %}" class="logoimage">
      </div>
    </div>
    <br>
    <br>
    <div class = "row loginbuttons">
      <button class="btn cardbutton" data-toggle="modal" data-target="#customerloginModal">Customer
        Login</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn cardbutton" data-toggle="modal" data-target="#customerSignUpModal">Customer
        SignUp</button>
    </div>
  </div>

  <div class="manager">
    <div class = "row">
      <div class = "col col-12  text-center">
        <h1 class="display-4 text-center">Manager</h1>
      </div>
    </div>
    <br>
    <br>
    <div class = "row">
      <div class = "col col-12  text-center">
        <img src="{% static '/images/managerlogo.png' %}" class="logoimage">
      </div>
    </div>
    <br>
    <br>
    <div class = "row loginbuttons">
      <button class="btn cardbutton" data-toggle="modal" data-target="#managerloginModal">Manager
        Login</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn cardbutton" data-toggle="modal" data-target="#managerSignUpModal">Manager
        SignUp</button>
    </div>
  </div>
</div>

<div class="modal fade" id="managerloginModal" tabindex="-1" role="dialog" aria-labelledby="managerloginModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="managerloginModalTitle">Manager Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row justify-content-center m-0">
          <img src="{% static '/images/managerlogo.png' %}" width="200px" height="200px">
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <form action="managerlogin" method="post">
            <div class="form-group">
              <label for="managerloginusername">Username</label>
              <input type="text" class="form-control" id="managerloginusername" name="managerloginusername"
                placeholder="Enter your username" required>
            </div>
            <div class="form-group">
              <label for="managerloginpassword">Password</label>
              <input type="password" class="form-control" id="managerloginpassword" name="managerloginpassword"
                placeholder="enter your password" required>
            </div>
            <div class="modal-footer">
              <button type="Submit" class="btn cardbutton btn-block">Submit</button>
            </div>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="managerSignUpModal" tabindex="-1" role="dialog" aria-labelledby="managerSignUpModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="managerSignUpModalTitle">Manager Signup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row justify-content-center m-0">
          <img src="{% static '/images/managerlogo.png' %}" width="200px" height="200px">
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <form action="managersignup" method="post">
            <div class="form-group">
              <label for="managersignupusername">Username</label>
              <input type="text" class="form-control" id="managersignupusername" name="managersignupusername"
                placeholder="Enter your username" required>
            </div>
            <div class="form-group">
              <label for="managernurseryname">Nursery Name</label>
              <input type="text" class="form-control" id="managernurseryname" name="managernurseryname"
                placeholder="Enter Nursery Name" required>
            </div>
            <div class = "row">
              <div class = "col col-6">
                <div class="form-group">
                  <label for="managersignupfirstname">Owner First Name</label>
                  <input type="text" class="form-control" id="managersignupfirstname" name="managersignupfirstname"
                    placeholder="Enter your First Name" required>
                </div>
              </div>
              <div class = "col col-6">
                <div class="form-group">
                  <label for="managersignuplastname">Owner Last Name</label>
                  <input type="text" class="form-control" id="managersignuplastname" name="managersignuplastname"
                    placeholder="Enter your Last Name" required>
                </div>
              </div>
            </div>
            <div class = "row">
              <div class = "col col-6">
                <div class="form-group">
                  <label for="managersignupemail">Email</label>
                  <input type="email" class="form-control" id="managersignupemail" name="managersignupemail"
                    placeholder="Enter your First NameEmail" required>
                </div>
              </div>
              <div class = "col col-6">
                <div class="form-group">
                  <label for="managersignupphone">Phone</label>
                  <input type="phone" class="form-control" id="managersignupphone" name="managersignupphone"
                    placeholder="Enter your Phone" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="managersignuppassword">Password</label>
              <input type="password" class="form-control" id="managersignuppassword" name="managersignuppassword"
                placeholder="enter your password" required>
            </div>
            <div class="modal-footer">
              <button type="Submit" class="btn cardbutton btn-block">Submit</button>
            </div>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="customerloginModal" tabindex="-1" role="dialog" aria-labelledby="customerloginModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="customerloginModalTitle">Customer Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row justify-content-center m-0">
          <img src="{% static '/images/customerlogo.png' %}" width="200px" height="200px">
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <form action="customerlogin" method="post">
            <div class="form-group">
              <label for="customerloginusername">Username</label>
              <input type="text" class="form-control" id="customerloginusername" name="customerloginusername"
                placeholder="Enter your username" required>
            </div>
            <div class="form-group">
              <label for="customerloginpassword">Password</label>
              <input type="password" class="form-control" id="customerloginpassword" name="customerloginpassword"
                placeholder="enter your password" required>
            </div>
            <div class="modal-footer">
              <button type="Submit" class="btn cardbutton btn-block">Submit</button>
            </div>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="customerSignUpModal" tabindex="-1" role="dialog" aria-labelledby="customerSignUpModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="customerSignUpModalTitle">Customer Signup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row justify-content-center m-0">
          <img src="{% static '/images/customerlogo.png' %}" width="200px" height="200px">
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <form action="customersignup" method="post">
            <div class="form-group">
              <label for="customersignupusername">Username</label>
              <input type="text" class="form-control" id="customersignupusername" name="customersignupusername"
                placeholder="Enter your username" required>
            </div>
            <div class = "row">
              <div class = "col col-6">
                <div class="form-group">
                  <label for="customersignupfirstname">First Name</label>
                  <input type="text" class="form-control" id="customersignupfirstname" name="customersignupfirstname"
                    placeholder="Enter your First Name" required>
                </div>
              </div>
              <div class = "col col-6">
                <div class="form-group">
                  <label for="customersignuplastname">Last Name</label>
                  <input type="text" class="form-control" id="customersignuplastname" name="customersignuplastname"
                    placeholder="Enter your Last Name" required>
                </div>
              </div>
            </div>
            <div class = "row">
              <div class = "col col-6">
                <div class="form-group">
                  <label for="customersignupemail">Email</label>
                  <input type="email" class="form-control" id="customersignupemail" name="customersignupemail"
                    placeholder="Enter your First NameEmail" required>
                </div>
              </div>
              <div class = "col col-6">
                <div class="form-group">
                  <label for="customersignupphone">Phone</label>
                  <input type="phone" class="form-control" id="customersignupphone" name="customersignupphone"
                    placeholder="Enter your Phone" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="customersignuppassword">Password</label>
              <input type="password" class="form-control" id="customersignuppassword" name="customersignuppassword"
                placeholder="enter your password" required>
            </div>
            <div class="modal-footer">
              <button type="Submit" class="btn cardbutton btn-block">Submit</button>
            </div>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>

  
{% endblock %}