{% extends 'herbworldapp/basic.html' %}
{% load static %}
{% block title %}
Product
{% endblock %}


{%block css%}

#feedback-form {
width: 100%;
padding: 20px 50px 40px;
box-shadow: 1px 4px 10px 1px #aaa;
}


#feedback-form h2{
text-align: center;
margin-bottom: 30px;
}

#feedback-form input {
margin-bottom: 15px;
margin-top: 15px;
}

#feedback-form input[type=text] {
display: block;
height: 32px;
padding: 6px 16px;
width: 100%;
border: none;
background-color: #f3f3f3;
}

#feedback-form textarea {
display: block;
padding: 6px 16px;
width: 100%;
border: none;
background-color: #f3f3f3;
}



.loginheading{
font-weight: 400;
font-size: 3vw;
}
.loginheading1{
color: #216B39;
font-weight: 800;
text-decoration: none;
}
.loginheading2{
color: #000000;
font-weight: 800;
text-decoration: none;
}

.cardbutton {
background-color: rgba(33,107,57);
cursor: pointer;
transition: 0.4s;
color: white;
}

.cardbutton:hover {
background-color: rgba(33,107,57);
border: 3px solid #FFFFFF;
transform: scale(0.9, 0.9);
color: white;
border-radius: 25px;
}

.productdetails{
width: 100%;
padding: 20px;
box-shadow: 1px 4px 10px 1px #aaa;
}


.buynow{
display: flex;
flex-direction: row-reverse;
}
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="row  mt-5 mb-5 pt-3">
        <div class="col text-center">
          <h2 class="loginheading"><span class="loginheading1">Plants </span><span class="loginheading2">Nearby</span>
        </div>
      </div>
      {% for product in props reversed %}
      <div class="row mb-5">
        <div class="col text-left">s
          <div class="productdetails">
            <div class="row">
              <div class="col col-6">
                <strong>Product Name: </strong> {{product.name}}
              </div>
              <div class="col col-6">
                <strong>Product Id: </strong> {{product.product_id}}
              </div>
            </div>
            <div class="row">
              <div class="col col-6">
                <strong>Product Price: </strong> {{product.price}}
              </div>
              <div class="col col-6">
                <strong>Product Quantity: </strong> {{product.quantity}}
              </div>
            </div>
            <div class="row">
              <div class="col"><strong>Product Description: </strong> {{product.description}}</div>
            </div>
            <div class="row justify-content-end">
              <button type="button buynow" class="btn btn-warning" data-toggle="modal"
                data-target="#orderModal{{product.product_id}}">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% for product in props reversed %}
    <div class="modal fade" id="orderModal{{product.product_id}}" tabindex="-1" role="dialog"
      aria-labelledby="orderModal{{product.product_id}}" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modalback">
          <div class="modal-header">
            <h4 class="modal-title" id="orderModalTitle"><strong>Product Name: </strong> {{product.name}}Product Name
              <strong> </strong></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="order" method="post">
              <div class="row">
                <div class="col col-6">
                  <label for="productid">Product Id</label>
                  <div class="form-group mb-3">
                    <input type="text" class="form-control form-control-lg" id="productid" name="productid"
                      value="{{product.product_id}}" readonly>
                  </div>
                </div>
                <div class="col col-6">
                  <label for="nurseryid">Nursery Id</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control form-control-lg" id="nurseryid"
                      name="nurseryid" value="{{product.nursery_id}}" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-6">
                  <div class="form-group">
                    <label for="customerfirstname" class="required">Customer First Name</label>
                    <input type="text" class="form-control form-control-lg" id="customerfirstname"
                      name="customerfirstname" value="{{request.user.first_name}}" readonly>
                  </div>
                </div>
                <div class="col col-6">
                  <div class="form-group">
                    <label for="customerlastname" class="required">Customer Last Name</label>
                    <input type="text" class="form-control form-control-lg" id="customerlastname"
                      name="customerlastname" value="{{request.user.last_name}}" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-6">
                  <div class="form-group">
                    <label for="customeremail" class="required">Email address</label>
                    <input type="email" class="form-control form-control-lg" id="customeremail"
                      name="customeremail" value="{{request.user.email}}" readonly>
                  </div>
                </div>
                <div class="col col-6">
                  <div class="form-group">
                    <label for="customerphone" class="required">Mobile Number</label>
                    <input type="tel" class="form-control form-control-lg" id="customerphone" name="customerphone"
                      value="{{request.user.customer.phone}}" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-6">
                  <div class="form-group">
                    <label for="productprice" class="required">Price</label>
                    <input type="text" class="form-control form-control-lg" id="productprice"
                      name="productprice" value="{{product.price}}" readonly>
                  </div>
                </div>
                <div class="col col-6">
                  <div class="form-group">
                    <label for="productquantity" class="required">Quantity</label>
                    <input type="text" class="form-control form-control-lg" id="productquantity" name="productquantity"
                      value="{{1}}" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="address" class="required">Address</label>
                    <textarea type="text" class="form-control form-control-lg" id="customeraddress"
                      name="customeraddress"  rows = "3" placeholder = "Enter Address"></textarea>
                  </div>
                </div>
              </div>
              {% csrf_token %}
              <div class="modal-footer">
                <button type="submit" class="btn cardbutton btn-block">Confirm Order</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>




{% endblock %}
