{% extends 'herbworldapp/basic.html' %}
{% load static %}
{% block title %}
    Nursery
{% endblock %}


{% block css %}

    #feedback-form {
    width: 100%;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    }


    #feedback-form h2{
    text-align: center;
    margin-bottom: 30px;
    }

    #feedback-form input {
    margin-bottom: 15px;
    margin-top: 15px;
    }

    #feedback-form input[type=text] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
    }

    #feedback-form textarea {
    display: block;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
    }



    .loginheading{
    font-weight: 400;
    font-size: 3vw;
    }
    .loginheading1{
    color: #216B39;
    font-weight: 800;
    text-decoration: none;
    }
    .loginheading2{
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    }

    .cardbutton {
    background-color: rgba(33,107,57);
    cursor: pointer;
    transition: 0.4s;
    color: white;
    }

    .cardbutton:hover {
    background-color: rgba(33,107,57);
    border: 3px solid #FFFFFF;
    transform: scale(0.9, 0.9);
    color: white;
    border-radius: 25px;
    }

    .nurserydetails{
    width: 100%;
    padding: 20px;
    box-shadow: 1px 4px 10px 1px #aaa;
    }


    .viewdetails{
    display: flex;
    flex-direction: row-reverse;
    }
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="row  mt-5 pt-3">
                    <div class="col text-center">
                        <h2 class="loginheading"><span class="loginheading1">Nursery </span><span class="loginheading2">Nearby</span>
                    </div>
                </div>
                <form method="post" action="/nursery-search/" class="search-container">
                    {% csrf_token %}
                    <div class="input-group mb-5">
                        <input type="text" class="form-control" id="nursery_name" name="nursery_name"
                               placeholder="Nursery Name">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
                You searched for{% for key, value in search.items %}
                {{ value | safe }}
            {% endfor %}
                {% for nursery in props reversed %}
                    <div class="row mb-5">
                        <div class="col text-left">
                            <div class="nurserydetails">
                                <div class="row">
                                    <div class="col">
                                        <strong>Nursery Name: </strong> {{ nursery.nursery_name }}
                                    </div>
                                </div>
                                {#                                <div class="row">#}
                                {#                                    <div class="col">#}
                                {#                                        <strong>Owner#}
                                {#                                            Name: </strong> {{ nursery.user.first_name }} {{ nursery.user.last_name }}#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <div class="row">
                                    <div class="col">
                                        <strong>Nursery Id : </strong> {{ nursery.nursery_id }}
                                    </div>
                                    <div class="col">
                                        <strong>Phone : </strong> {{ nursery.phone }}
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col viewdetails">
                                        <button class="btn btn-success"
                                                onClick="window.location='{{ nursery.user.username }}';">See Products
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}